.widgets-plus-widget-instance {
	margin-left: 100px;
}
.widgets-plus-widget-instance > summary {
	cursor: pointer;
}
.widgets-plus-widget-instance > summary:after {
	content: ',';
}
.widgets-plus-widget-instance:last-child > summary:after {
	content: ':';
}
.widgets-plus-widget-instance[open] > summary:after {
	content: ':';
}

body.post-type-widget_instance .add-new-h2,
body.post-type-widget_instance #minor-publishing-actions,
body.post-type-widget_instance #publishing-action,
body.post-type-widget_instance .misc-pub-section.misc-pub-post-status,
body.post-type-widget_instance .misc-pub-section.misc-pub-visibility,
body.post-type-widget_instance .misc-pub-section.curtime.misc-pub-curtime,
body.post-type-widget_instance #delete-action {
	display: none;
}
